<div class="container">
    <div class="main-body"> 
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="../../assets/img/gsource-logo-color.svg" class="img img-fluid my-logo" >
            </a>
            <a href="" style="float: right!important; position: absolute; right: 15px; " >Logout </a>
          </nav>
        </div>
        <div class="container">
          <br>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h5 class="fss-title">FSS (File Sharing System) Dashboard</h5>
              <br>
            </div>
  
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
               <i class="fa fa-folder"></i>&nbsp; Create folder
              </button>
              
               <a href="completed.html" class="btn btn-success"><i class="fa fa-folder"></i>&nbsp; Completed Projects</a>
            </div>
            <div class="col-md-12 col-lg-12">
              <div class="bread-scrumbs">
                <br>
                <span class="open-title"><b>Uploaded Projects</b></span>
  
              </div>
            </div>
            <div class="col-md-12 col-lg-12">
              <br>
              <div class="row">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Uploaded Date</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                          <br>
                           1
                        </th>
                        <th scope="row">
                          <div class="file-icon">
                            <a href="uploaded-files.html"><img src="../../assets/img/folder.svg" class="img img-fluid" width="40px;">
                            Project Name
                            </a>
                          </div>
                        </th>
                        <td>
                          <br>
                          Feb 10 2019
                        </td>
                        <td>
                          <br>
                          <i class="fa fa-download" title="Download File"></i>
                          &nbsp; &nbsp;
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container Closed Here -->
    </div>
  <!-- Main Body Class Closed here -->
    <div class="col-lg-12 col-md-12">
      <section class="footer">
        (All rights reserved) G-Source Technologies LLC<br>
        13065 SW 26 Street Miramar FL 33027 | +1(888) 322-9925 | info@gsourcedata.com
  
      </section>
    </div>
  
  </div>
  
  
  <!-- Model for creating folder -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="" name="" placeholder="Enter Folder Name" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


